<a href="https://colab.research.google.com/github/ISSAToyyib/gse301-python-project/blob/main/Copy_of_unilorin_GSE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Part 1: Data collection and storage

In [ ]:
Student_name = "ISSAToyyib"
matric_no = "22/56EF086"
age = 20
cgpa = 5.0
is_active = True
course_reg = ["ICH311","ICH 321","ICH 347","ICH 323","ICH 361","ICH 315","ICH365","GNS 311","GSE 301"]
grade = {"ICH311": "A",
         "ICH 321":"A",
         "ICH 347":"A",
         "ICH 323":"A",
         "ICH 361":"A",
         "ICH 315":"A",
         "ICH 365":"A",
         "GNS 311":"A",
         "GSE 301":"A"}

Task 1.2 : DATA STUCTURES IN ACTION

In [ ]:
#name of students
student_names = ["Roqeeb", "sulyman", "ISSAToyyib", "timothy", "Somad"]
#dictionary for each student profile
student_1 = {"name" : "roqeeb",
             "matric_no" : "22/56EF084",
             "age" : 20,
             "cgpa" : 5.0,
             "is_active" : True,
             "course_reg" :["ICH311","ICH 321","ICH 347","ICH 323","ICH 361","ICH 315","ICH365","GNS 311","GSE 301"],
             "grade" : {"ICH311": "A",
                        "ICH 321":"A",
                        "ICH 347":"A",
                        "ICH 323":"A",
                        "ICH 361":"A",
                        "ICH 315":"A",
                        "ICH 365":"A",
                        "GNS 311":"A",
                        "GSE 301":"A"}
             }

student_2 = {"name" : "sulyman",
             "matric_no" : "22/56EF082",
             "age" : 20,
             "cgpa" : 5.0,
             "is_active" : True,
             "course_reg" :["ICH311","ICH 321","ICH 347","ICH 323","ICH 361","ICH 315","ICH365","GNS 311","GSE 301"],
             "grade" : {"ICH311": "A",
                        "ICH 321":"A",
                        "ICH 347":"A",
                        "ICH 323":"A",
                        "ICH 361":"A",
                        "ICH 315":"A",
                        "ICH 365":"A",
                        "GNS 311":"A",
                        "GSE 301":"A"}
             }
student_3 = {"name" : "ISSAToyyib",
             "matric_no" : "22/56EF086",
             "age" : 20,
             "cgpa" : 5.0,
             "is_active" : True,
             "course_reg" :["ICH311","ICH 321","ICH 347","ICH 323","ICH 361","ICH 315","ICH365","GNS 311","GSE 301"],
             "grade" : {"ICH311": "A",
                        "ICH 321":"A",
                        "ICH 347":"A",
                        "ICH 323":"A",
                        "ICH 361":"A",
                        "ICH 315":"A",
                        "ICH 365":"A",
                        "GNS 311":"A",
                        "GSE 301":"A"}
             }
student_4 = {"name" : "Timothy",
             "matric_no" : "22/56EF081",
             "age" : 20,
             "cgpa" : 5.0,
             "is_active" : True,
             "course_reg" :["ICH311","ICH 321","ICH 347","ICH 323","ICH 361","ICH 315","ICH365","GNS 311","GSE 301"],
             "grade" : {"ICH311": "A",
                        "ICH 321":"A",
                        "ICH 347":"A",
                        "ICH 323":"A",
                        "ICH 361":"A",
                        "ICH 315":"A",
                        "ICH 365":"A",
                        "GNS 311":"A",
                        "GSE 301":"A"}
            }
student_5 = {"name" : "somad",
             "matric_no" : "22/56EF089",
             "age" : 20,
             "cgpa" : 5.0,
             "is_active" : True,
             "course_reg" :["ICH311","ICH 321","ICH 347","ICH 323","ICH 361","ICH 315","ICH365","GNS 311","GSE 301"],
             "grade" : {"ICH311": "A",
                        "ICH 321":"A",
                        "ICH 347":"A",
                        "ICH 323":"A",
                        "ICH 361":"A",
                        "ICH 315":"A",
                        "ICH 365":"A",
                        "GNS 311":"A",
                        "GSE 301":"A"}
               }
 # set to store unique courses offervin the department
  unique_course =  ["ICH311","ICH 321","ICH 347","ICH 323","ICH 361","ICH 315","ICH365","GNS 311","GSE 301"]
  # A tuple for fixed information
  department_information  = ["Industrial chemistry", "Faculty of Physical sciences", 2025]

Part 2 : DATA PROCESSING AND LOGIC
Task 2.1 : Conditional statement for grading

In [ ]:
def grade_score(score):
    if score >= 70:
        return "A"
    elif score >= 60:
        return "B"
    elif score >= 50:
        return "C"
    elif score >= 45:
        return "D"
    elif score >= 40:
        return "E"
    else:
        return "F"

mark = int(input("Enter your score: "))
grade = grade_score(mark)

match grade:
    case "A":
        print("Excellent performance")
    case "B":
        print("Very good")
    case "C":
        print("Good")
    case _:
        print("Needs improvement")

Enter your score: 23
Needs improvement

Task 2.2 : Type conversion and Validation

In [ ]:
try:
   user_age = input("Enter your age: ")
   user_cgpa = input("Enter your CGPA: ")

   age = int(user_age)
   cgpa = float(user_cgpa)
  #Validating age
   if age < 16 or age > 40:
       raise ValueError("Age must be between 16 and 40")

  #Validating CGPA
   if cgpa < 0.0 or cgpa > 5.0:
     raise ValueError("CGPA must be between 0.0 and 5.0")

   print(age)
   print(cgpa)

except ValueError as e:
    print(e)

except Exception:
    print("Something went wrong. Please enter correct values.")

Enter your age: 34
Enter your CGPA: 9.98
CGPA must be between 0.0 and 5.0

# Part : Analysing and reporting

In [ ]:
#Task 3.1
scores = [27, 87, 45, 76, 12, 95, 56, 18, 23, 39]
#arrange the score in descending order using sorted method
sorted_scores = sorted(scores, reverse=True)
#Top 3 scores
top3 = sorted_scores[0:3]

#last 5 using negative indexing
last5 = scores[-5:]

#Every other scores
other_scores = scores[::2]

#printed result
print(top3)
print(last5)
print(other_scores)

[95, 87, 76]
[95, 56, 18, 23, 39]
[27, 45, 12, 56, 23]

In [ ]:
#Task 3.2:Set operation
passed_students = {"Aisha", "Tunde", "Sadiq", "Blessing", "Musa"}
merit_students = {"Tunde", "Blessing", "Zainab"}

# Students with pass and merit
print(passed_students & merit_students)

#distict students in both
print(passed_students | merit_students)

#students that passed but do not habe merit
print(passed_students - merit_students)

{'Tunde', 'Blessing'}
{'Zainab', 'Sadiq', 'Tunde', 'Musa', 'Blessing', 'Aisha'}
{'Musa', 'Sadiq', 'Aisha'}

Part 4 : INTERACTIVE MENU SYSTEM

In [ ]:
# Task 4.1: Build a console menu
students = ["Toyyib","Tunde","Zaynab"]

while True:
    print("WELCOME TO STUDENT MANAGEMENT MENU")
    print("1. View all students")
    print("2. Add new student")
    print("3. Check eligibility for graduation")
    print("4. Find top performance")
    print("5. Exit")

    option = int(input("Select an option (1-5): "))

    match option:
        case 1:
            if not students:
                print("No students available.")
            else:
                print("\nList of Students:")
                for student in students:
                    print(student)

        case 2:
            name = input("Enter student name: ")
            score = float(input("Enter student score: "))
            students.append({"name": name, "score": score})
            print("Student added successfully.")

        case 3:
            if not students:
                print("No students available.")
            else:
                for student in students:
                    if student["score"] >= 50:
                        print(f"{student['name']} is eligible for graduation.")
                    else:
                        print(f"{student['name']} is NOT eligible for graduation.")

        case 4:
            if not students:
                print("No students available.")
            else:
                top_student = max(students, key=lambda x: x["score"])
                print(f"Top Performer: {top_student['name']} with score {top_student['score']}")

        case 5:
            print("Exiting program. Goodbye!")
            break

        case _:
            print("Invalid choice. Please select between 1 and 5.")

WELCOME TO STUDENT MANAGEMENT MENU
1. View all students
2. Add new student
3. Check eligibility for graduation
4. Find top performance
5. Exit
Select an option (1-5): 5
Exiting program. Goodbye!

In [ ]:
#Task 4.2:Eligibility checker
def check_graduation_eligibility(cgpa, outstanding_courses, is_active):
    if cgpa >= 2.5 and outstanding_courses == 0 and is_active:
        return True, "Eligible for graduation: CGPA requirement met, no outstanding courses, and student is active."

    else:
        reasons = []

        if cgpa < 2.5:
            reasons.append("CGPA is below 2.5")

        if outstanding_courses > 0:
            reasons.append("Outstanding courses remaining")

        if not is_active:
            reasons.append("Student is not active")

        return False, "Not eligible for graduation because: " + ", ".join(reasons)

cgpa_status = float(input("Enter your CGPA: "))
outstanding = int(input("Enter the outstanding courses: "))
active = ("Enter True or False: ")
status, message = check_graduation_eligibility(cgpa_status, outstanding, active)
print(status)   # True
print(message)

Enter your CGPA: 1.3
Enter the outstanding courses: 0
False
Not eligible for graduation because: CGPA is below 2.5

#Part 5":Advanced challenges(Optinal)

In [ ]:
#Task 5.1:Nested Data processing
students_scores = {
    "Amina": {"Math": 75, "English": 82, "Biology": 78},
    "Tunde": {"Math": 68, "English": 74, "Biology": 80},
    "Sadiq": {"Math": 85, "English": 90, "Biology": 88},
    "Zainab": {"Math": 72, "English": 69, "Biology": 75}
}

# Calculate average score for each student
averages = {}

for student, courses in students_scores.items():
    total = sum(courses.values())
    average = total / len(courses)
    averages[student] = average

# Display averages
print("Average scores:")
for student, avg in averages.items():
    print(f"{student}: {avg:.2f}")

# Find the first student who scored above 70 in all courses
first_student_above_70 = None

for student, courses in students_scores.items():
    if all(score > 70 for score in courses.values()):
        first_student_above_70 = student
        break

# Display result
if first_student_above_70:
    print(f"\nFirst student who scored above 70 in all courses: {first_student_above_70}")
else:
    print("\nNo student scored above 70 in all courses.")

Average scores:
Amina: 78.33
Tunde: 74.00
Sadiq: 87.67
Zainab: 72.00

First student who scored above 70 in all courses: Amina